.topnav {
    background-color: #42A5BC;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
}

.topnav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #575757;
}

.topnav a.active {
    background-color: black;
}

.user_list {
    color: black;
}

.container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin-bottom: 80px;
}

.text {
    width: 60%;
}
.text_contact{
  width: 600px; 
  margin: 0 auto;
}
.diagram {
    width: 40%;
    position: relative;
}

.diagram img {
    width: 100%;
    position: sticky;
    top: 20px;
}

h1 {
    background-color: #42A5BC;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0;

    /* black outline effect */
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}
.hero_image{
    background-image: url("playstation_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.home_title{
    color:white;
    margin-bottom: 10px;
    font-size: 3rem
}

.hero_p{
    color: white;
    background-color: #2da8c3;
    padding: 15px;
    border-radius: 10px;
    max-width: 450px;
    margin: 10px auto;

    position: absolute;
    bottom: 100px;
    left: 40px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
